.introduction{
    line-height: 1.5;
    font-size: 17px;
    margin-left: 20px;
}

.double_commander{
    line-height: 1.5;
    font-size: 17px;
    margin-left: 20px;
}

.caja{
    line-height: 1.5;
    font-size: 17px;
    margin-left: 20px;
}

.dolphin{
    line-height: 1.5;
    font-size: 17px;
    margin-left: 20px;
}

.gnome_commander{
    line-height: 1.5;
    font-size: 17px;
    margin-left: 20px;
}

.nautilus{
    line-height: 1.5;
    font-size: 17px;
    margin-left: 20px;
}

.sunflower{
    line-height: 1.5;
    font-size: 17px;
    margin-left: 20px;
}

.thunar{
    line-height: 1.5;
    font-size: 17px;
    margin-left: 20px;
}