.intro_in_pkg{
    line-height: 1.5;
    font-size: 20px;
    margin-left: 20px;
}

.appimage{
    line-height: 1.5;
    font-size: 20px;
    margin-left: 20px;
}

.debchik{
    line-height: 1.5;
    font-size: 20px;
    margin-left: 20px;
}