.intro_in_terminal{
    line-height: 1.5;
    font-size: 17px;
    margin-left: 20px;
}

.auto_and_scripts{
    line-height: 1.5;
    font-size: 17px;
    margin-left: 20px;
}

.files_and_directories{
    line-height: 1.5;
    font-size: 17px;
    margin-left: 20px;
}

.lifehacks{
    line-height: 1.5;
    font-size: 17px;
    margin-left: 20px;
}

.navigation{
    line-height: 1.5;
    font-size: 17px;
    margin-left: 20px;
}

.network{
    line-height: 1.5;
    font-size: 17px;
    margin-left: 20px;
}

.proccesses{
    line-height: 1.5;
    font-size: 17px;
    margin-left: 20px;
}

.utils{
    line-height: 1.5;
    font-size: 17px;
    margin-left: 20px;
}